.virtual-support .hide-sider {
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 32px;
  right: 16px;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (max-width: 1366px) {
  .virtual-support .hide-sider {
    top: 16px;
    right: 32px;
  }
}

@media only screen and (max-width: 1200px) {
  .virtual-support .hide-sider {
    display: none;
  }
}
